{% extends 'base.html.twig' %}
{% form_theme formClient 'bootstrap_4_layout.html.twig' %}
{% block body %} 
<marquee>
<h1>GESTION DES CLIENTS</h1>
</marquee>
{{ form_start(formClient) }}
{{form_widget(formClient)}}
<button type="submit" class="btn btn-success">AjouteurClient</button>
{{ form_end(formClient) }}
{% endblock %}