{% extends 'base.html.twig' %}

{% block title %}SENEFORAGE{{ controller_name }}!{% endblock %}

{% block body %}
<marquee>
<h1>BIENVENUE A SEN-FORAGE </h1>
</marquee>
<div class="card mb-3">
  <img style="height: 200px; width: 100%; display: block;" alt="Card image" src="image/images3.jpg"> 
{% endblock %}

